.card-effect:hover {
  transform: scale(1.1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transition: 0.5s;
  z-index: 7777;
}
.card-effect {
  overflow: hidden;
  z-index: inherit;
  transition: 0.5s;
}
.card img {
  aspect-ratio: 1/1;
  object-fit: fill;
}

.container {
  border-radius: 25px;
}
.rotate1 {
  transform: rotate(30deg);
}

.rotate2 {
  transform: rotate(-33deg);
}
.rotate3 {
  transform: rotate(40deg);
}
p > * {
  font-weight: bold;
}

#dettagli-album {
  background: transparent;
}
.album-img img {
  width: 500px;
  border-radius: 25px;
  object-fit: cover;
}

.album-details {
  color: white;
}
.tracks {
  color: white;
}

.card-body > p {
  border-bottom: 1px dotted gray;
}

ul > li {
  list-style: none;
}

li > span {
  font-weight: bold;
}

.container-list-details {
  position: relative;
}
.orienta {
  position: absolute;
  right: 0;
  bottom: 15px;
}
